.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../../../assets/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    filter: saturate(2);
    .hero_info {
        text-align: center;
        padding: 10px 4px;
        h1 {
            font-weight: bold;
            font-size: 2.5em;
            letter-spacing: 1px;
            text-transform: uppercase;
            -webkit-text-stroke: 0.5px black;
            text-shadow: 1px 2px 3px black;
            color: #fff;
            padding: 0.2em 0.4em;
        }
        p {
            font-weight: 600;
            font-style: italic;
            font-size: 1em;
            color: #fff;
        }
    }
}

@media screen and (width >= 726px) {
    .Hero {
        height: 90vh;
        .hero_info {
            margin-top: unset;
            color: #fff;
            width: 95%;
            margin: auto;
            display: block;
            h1 {
                font-size: 3em;
            }
            p {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}
